In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
days = pd.read_csv('C:\\Users\\승우\\Desktop\\session_with_holiday.csv', engine='python')
product = pd.read_csv('C:\\DynamicData\\product.csv', encoding='utf-8')

C:\Users\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
days = days.drop(days.columns[0], axis=1)

In [18]:
days.head(4)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,Rest
0,5873599,8641867,9,2018-05-09,82.0,"1,890",mobile,Daejeon,Daejeon,0
1,5873599,6616320,21,2018-06-11,105.0,"1,604",mobile,Busan,Busan,0
2,5873599,5886172,40,2018-06-24,41.0,632,mobile,Daejeon,Daejeon,1
3,5873884,1050889,15,2018-09-13,160.0,"1,035",mobile,Gyeonggi-do,Anyang,0

In [4]:
all_time = days.loc[:,'SESS_DT'].astype('str')
days['datetime'] = list(map(lambda x:datetime.strptime(x,'%Y-%m-%d'), all_time))
del all_time

In [6]:
days.head(3)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,Rest,datetime
0,5873599,8641867,9,2018-05-09,82.0,"1,890",mobile,Daejeon,Daejeon,0,2018-05-09
1,5873599,6616320,21,2018-06-11,105.0,"1,604",mobile,Busan,Busan,0,2018-06-11
2,5873599,5886172,40,2018-06-24,41.0,632,mobile,Daejeon,Daejeon,1,2018-06-24

In [11]:
holidays_list = days.loc[days.loc[:,'Rest']==1,:].loc[:,'SESS_DT'].astype('str')
holidays_list = list(map(lambda x:datetime.strptime(x,'%Y-%m-%d'), holidays_list))

In [82]:
day_that_day = holidays_list #휴일인 날
day_minus1 = list(map(lambda x: x+timedelta(days=-1), holidays_list))
day_minus2 = list(map(lambda x: x+timedelta(days=-2), holidays_list))
day_minus3 = list(map(lambda x: x+timedelta(days=-3), holidays_list))
day_minus4 = list(map(lambda x: x+timedelta(days=-4), holidays_list))
day_minus5 = list(map(lambda x: x+timedelta(days=-5), holidays_list))
day_minus6 = list(map(lambda x: x+timedelta(days=-6), holidays_list))
day_minus7 = list(map(lambda x: x+timedelta(days=-7), holidays_list))

### merge

In [63]:
holidays_essential_vari = days.loc[:, ['CLNT_ID', 'SESS_ID', 'datetime']] 
holidays_essential_vari.head(4)

   CLNT_ID  SESS_ID   datetime
0  5873599  8641867 2018-05-09
1  5873599  6616320 2018-06-11
2  5873599  5886172 2018-06-24
3  5873884  1050889 2018-09-13

In [25]:
product.head(4)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,4139680,7605037,12,642112,색상:워터멜론,[바비브라운],"39,000",1
1,4140076,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,4142395,6158159,85,179538,(not set),[아베다],"39,000",1
3,4144914,7935714,12,554336,색상:블랙|사이즈:160cm(12~13세) / 1개,아디다스 키즈,"39,000",1

In [64]:
product_essential_vari = product.loc[:,['CLNT_ID', 'SESS_ID', 'PD_BUY_AM', 'PD_BUY_CT']]

In [65]:
merging = pd.merge(holidays_essential_vari, product_essential_vari, on=['CLNT_ID', 'SESS_ID'], how='left')

In [124]:
merging.head(5)

   CLNT_ID  SESS_ID   datetime PD_BUY_AM PD_BUY_CT
0  5873599  8641867 2018-05-09    20,000         1
1  5873599  8641867 2018-05-09    20,000         1
2  5873599  8641867 2018-05-09    20,000         1
3  5873599  6616320 2018-06-11    89,000         1
4  5873599  5886172 2018-06-24    34,000         1

In [123]:
len(merging)

5024906

In [85]:
day_that_day = merging.ix[merging.loc[:,'datetime'].isin(day_that_day)]
day_minus1 = merging.ix[merging.loc[:,'datetime'].isin(day_minus1)]
day_minus2 = merging.ix[merging.loc[:,'datetime'].isin(day_minus2)]
day_minus3 = merging.ix[merging.loc[:,'datetime'].isin(day_minus3)]
day_minus4 = merging.ix[merging.loc[:,'datetime'].isin(day_minus4)]
day_minus5 = merging.ix[merging.loc[:,'datetime'].isin(day_minus5)]
day_minus6 = merging.ix[merging.loc[:,'datetime'].isin(day_minus6)]
day_minus7 = merging.ix[merging.loc[:,'datetime'].isin(day_minus7)]

C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [114]:
print(day_that_day.count())  #구매: 1447120건
print()
print(len(day_that_day.loc[:,'CLNT_ID'].unique())) #425715명의 개별 사용자

CLNT_ID      1447120
SESS_ID      1447120
datetime     1447120
PD_BUY_AM    1447120
PD_BUY_CT    1447120
dtype: int64

425715

In [116]:
print(day_minus1.count()) #구매: 1308817건
print()
print(len(day_minus1.loc[:,'CLNT_ID'].unique())) # 407180명의 개별 사용자

CLNT_ID      1308817
SESS_ID      1308817
datetime     1308817
PD_BUY_AM    1308817
PD_BUY_CT    1308817
dtype: int64

407180

In [117]:
print(day_minus2.count()) #구매: 1436076건
print()
print(len(day_minus2.loc[:,'CLNT_ID'].unique())) # 439858명의 개별 사용자

CLNT_ID      1436076
SESS_ID      1436076
datetime     1436076
PD_BUY_AM    1436076
PD_BUY_CT    1436076
dtype: int64

439858

In [118]:
print(day_minus3.count()) #구매: 1563313건
print()
print(len(day_minus3.loc[:,'CLNT_ID'].unique())) # 469269명의 개별 사용자

CLNT_ID      1563313
SESS_ID      1563313
datetime     1563313
PD_BUY_AM    1563313
PD_BUY_CT    1563313
dtype: int64

469269

In [119]:
print(day_minus4.count()) #구매: 161446건
print()
print(len(day_minus4.loc[:,'CLNT_ID'].unique())) # 479673명의 개별 사용자

CLNT_ID      1614446
SESS_ID      1614446
datetime     1614446
PD_BUY_AM    1614446
PD_BUY_CT    1614446
dtype: int64

479673

In [120]:
print(day_minus5.count()) #구매: 1746188건
print()
print(len(day_minus5.loc[:,'CLNT_ID'].unique())) # 503364명의 개별 사용자

CLNT_ID      1746188
SESS_ID      1746188
datetime     1746188
PD_BUY_AM    1746188
PD_BUY_CT    1746188
dtype: int64

503364

In [121]:
print(day_minus6.count()) #구매: 1714808건
print()
print(len(day_minus6.loc[:,'CLNT_ID'].unique())) # 495483명의 개별 사용자

CLNT_ID      1714808
SESS_ID      1714808
datetime     1714808
PD_BUY_AM    1714808
PD_BUY_CT    1714808
dtype: int64

495438

In [122]:
print(day_minus7.count()) #구매: 1427064건
print()
print(len(day_minus7.loc[:,'CLNT_ID'].unique())) # 424414명의 개별 사용자

CLNT_ID      1427064
SESS_ID      1427064
datetime     1427064
PD_BUY_AM    1427064
PD_BUY_CT    1427064
dtype: int64

424414