In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import re
import numpy as np
from datetime import datetime
import time

In [2]:
os.chdir('C:\\DynamicData')

product = pd.read_csv('product.csv', encoding='utf-8')
session = pd.read_csv('Session.csv', encoding='utf-8')
search1 = pd.read_csv('Search1.csv', encoding='utf-8')
search2 = pd.read_csv('Search2.csv', encoding='utf-8')
custom =  pd.read_csv('custom.csv', encoding='utf-8')
master =  pd.read_csv('Master.csv', encoding='utf-8')

C:\Users\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(product.info()); print()
print(session.info()); print()
print(search1.info()); print()
print(search2.info()); print()
print(custom.info()); print()
print(master.info()); print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024906 entries, 0 to 5024905
Data columns (total 8 columns):
CLNT_ID      int64
SESS_ID      int64
HITS_SEQ     int64
PD_C         int64
PD_ADD_NM    object
PD_BRA_NM    object
PD_BUY_AM    object
PD_BUY_CT    object
dtypes: int64(4), object(4)
memory usage: 306.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2712907 entries, 0 to 2712906
Data columns (total 9 columns):
CLNT_ID            int64
SESS_ID            int64
SESS_SEQ           int64
SESS_DT            int64
TOT_PAG_VIEW_CT    float64
TOT_SESS_HR_V      object
DVC_CTG_NM         object
ZON_NM             object
CITY_NM            object
dtypes: float64(1), int64(4), object(4)
memory usage: 186.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884943 entries, 0 to 2884942
Data columns (total 4 columns):
CLNT_ID       int64
SESS_ID       int64
KWD_NM        object
SEARCH_CNT    int64
dtypes: int64(3), object(1)
memory usage: 88.0+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051172 entries, 0 to 8051171
Data columns (total 3 columns):
SESS_DT       int64
KWD_NM        object
SEARCH_CNT    object
dtypes: int64(1), object(2)
memory usage: 184.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671679 entries, 0 to 671678
Data columns (total 3 columns):
CLNT_ID        671679 non-null int64
CLNT_GENDER    671679 non-null object
CLNT_AGE       671679 non-null int64
dtypes: int64(2), object(1)
memory usage: 15.4+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847652 entries, 0 to 847651
Data columns (total 5 columns):
PD_C        847652 non-null int64
PD_NM       847652 non-null object
CLAC1_NM    847652 non-null object
CLAC2_NM    847652 non-null object
CLAC3_NM    847652 non-null object
dtypes: int64(1), object(4)
memory usage: 32.3+ MB
None

### product 전처리

In [23]:
product.head(3)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,4139680,7605037,12,642112,색상:워터멜론,[바비브라운],"39,000",1
1,4140076,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,4142395,6158159,85,179538,(not set),[아베다],"39,000",1

In [4]:
product['PD_BUY_AM'] = list(map(lambda x:re.sub("\,", "",x), product['PD_BUY_AM']))
product['PD_BUY_AM'] = product['PD_BUY_AM'].astype('int64')

In [5]:
product['PD_BUY_CT'] = product['PD_BUY_CT'].astype('str')
product['PD_BUY_CT'] = list(map(lambda x:re.sub("\,", "",x), product['PD_BUY_CT']))
product['PD_BUY_CT'] = product['PD_BUY_CT'].astype('int64')

In [32]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024906 entries, 0 to 5024905
Data columns (total 8 columns):
CLNT_ID      int64
SESS_ID      int64
HITS_SEQ     int64
PD_C         int64
PD_ADD_NM    object
PD_BRA_NM    object
PD_BUY_AM    int64
PD_BUY_CT    int64
dtypes: int64(6), object(2)
memory usage: 306.7+ MB

### session 전처리

In [180]:
session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2712907 entries, 0 to 2712906
Data columns (total 9 columns):
CLNT_ID            int64
SESS_ID            int64
SESS_SEQ           int64
SESS_DT            int64
TOT_PAG_VIEW_CT    float64
TOT_SESS_HR_V      object
DVC_CTG_NM         object
ZON_NM             object
CITY_NM            object
dtypes: float64(1), int64(4), object(4)
memory usage: 186.3+ MB

In [6]:
#Session 머물지도 않고 바로 나가는 CLIENT들 있다.
session.loc[session['TOT_SESS_HR_V'].isna(),:]

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
38,5878756,7465325,5,20180529,1.0,NaN,mobile,Chungcheongnam-do,Cheonan-si
64,6065738,9564520,26,20180424,1.0,NaN,mobile,Gyeonggi-do,Gwangmyeong-si
65,6065738,9564529,25,20180424,1.0,NaN,mobile,Gyeonggi-do,Gwangmyeong-si
246,6003295,1035552,2,20180913,1.0,NaN,desktop,Daejeon,Daejeon
604,5946142,9600252,4,20180423,1.0,NaN,mobile,Seoul,Seoul
1435,6163287,5612765,98,20180628,1.0,NaN,mobile,Seoul,Seoul
2006,5958856,9540083,20,20180424,1.0,NaN,mobile,Seoul,Seoul
2190,5970505,6643638,3,20180611,1.0,NaN,desktop,Seoul,Seoul
2216,5966034,9201368,8,20180430,1.0,NaN,mobile,Seoul,Seoul
2745,6527707,8400072,29,20180513,1.0,NaN,mobile,Gyeonggi-do,Gwangju-si
2766,6522041,4870571,20,20180710,1.0,NaN,mobile,Gyeongsangnam-do,Jinju-si
3434,6183845,7711716,13,20180524,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3435,6183845,7706318,14,20180525,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3437,6183845,7612167,15,20180526,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3938,6133066,6746196,2,20180609,1.0,NaN,mobile,Seoul,Seoul
3990,6137510,7134254,46,20180603,1.0,NaN,mobile,Seoul,Seoul
4032,6135060,6468303,13,20180614,1.0,NaN,mobile,Gyeongsangnam-do,Yangsan-si
4094,6135355,477505,50,20180922,1.0,NaN,mobile,Busan,Busan
4500,6182408,3152554,3,20180808,1.0,NaN,mobile,Busan,Busan
5073,6252111,361161,15,20180925,1.0,NaN,desktop,Incheon,Incheon
5076,6252111,410616,11,20180924,1.0,NaN,desktop,Incheon,Incheon
5247,6145512,6267759,21,20180617,1.0,NaN,mobile,Seoul,Seoul
5337,6149466,4399154,2,20180718,1.0,NaN,mobile,Gyeonggi-do,Pyeongtaek-si
5521,4695074,8414642,34,20180513,1.0,NaN,mobile,Seoul,Seoul
5566,4679210,10836433,13,20180403,1.0,NaN,mobile,Seoul,Seoul
5854,6229610,3064953,10,20180809,1.0,NaN,mobile,Chungcheongbuk-do,Cheongju-si
5877,6211145,254601,188,20180926,1.0,NaN,mobile,Gyeonggi-do,Seongnam-si
6154,6262114,7856680,7,20180522,1.0,NaN,mobile,Gyeongsangbuk-do,Pohang-si
6553,6231021,4258920,642,20180720,1.0,NaN,mobile,Seoul,Seoul
7244,6379930,9803643,82,20180420,1.0,NaN,mobile,Daejeon,Daejeon
...,...,...,...,...,...,...,...,...,...
2705715,3746662,8932800,104,20180504,1.0,NaN,mobile,Seoul,Seoul
2705723,3752723,3598008,24,20180731,1.0,NaN,mobile,Gangwon-do,Wonju-si
2706289,6140552,3725462,9,20180729,1.0,NaN,mobile,Seoul,Seoul
2706398,6202776,10271867,6,20180412,1.0,NaN,mobile,Seoul,Seoul
2706558,5987591,4867294,111,20180710,NaN,NaN,mobile,Chungcheongnam-do,Yeongi-gun
2706780,4155938,4157884,22,20180722,1.0,NaN,mobile,Seoul,Seoul
2706836,4258351,4604096,4,20180715,1.0,NaN,mobile,Seoul,Seoul
2706851,4188927,10411405,17,20180410,1.0,NaN,mobile,Gyeonggi-do,Yangju-si
2707320,550360,9052673,23,20180502,1.0,NaN,mobile,Seoul,Seoul
2707985,5624868,6270918,13,20180617,1.0,NaN,mobile,Daegu,Daegu
2708662,1631705,6091497,47,20180620,1.0,NaN,mobile,Seoul,Seoul
2708903,5529333,5984390,14,20180622,1.0,NaN,mobile,Busan,Busan
2709011,6000347,8094589,3,20180518,1.0,NaN,mobile,Daejeon,Daejeon
2709407,2081240,8643209,21,20180509,1.0,NaN,desktop,Seoul,Seoul
2709718,1757723,8697279,16,20180508,1.0,NaN,mobile,Gyeonggi-do,Hwaseong-si
2709736,2387367,6243216,5,20180618,1.0,NaN,mobile,Seoul,Seoul
2710234,6139657,4168522,2,20180722,NaN,NaN,desktop,Busan,Busan
2710546,273422,3906633,28,20180726,1.0,NaN,mobile,Seoul,Seoul
2710554,179335,9839061,4,20180419,1.0,NaN,mobile,Busan,Busan
2710570,201651,227448,7,20180927,1.0,NaN,mobile,Gyeonggi-do,Seongnam-si
2710665,6336107,10402008,15,20180410,2.0,NaN,mobile,Seoul,Seoul
2710826,344004,3695023,62,20180730,1.0,NaN,mobile,Gyeongsangnam-do,Geochang-gun
2710879,453971,8026192,5,20180519,1.0,NaN,mobile,Seoul,Seoul
2710907,2548025,1670673,7,20180903,1.0,NaN,desktop,Gyeonggi-do,Anyang
2711592,395393,2579198,7,20180818,1.0,NaN,mobile,Gyeonggi-do,Namyangju-si
2712232,3173343,1226944,35,20180910,1.0,NaN,mobile,Seoul,Seoul
2712622,2672221,4843748,38,20180711,1.0,NaN,mobile,Seoul,Seoul
2712695,2693845,9944503,6,20180417,1.0,NaN,mobile,Gwangju,Gwangju
2712716,2824345,2606902,11,20180817,1.0,NaN,mobile,Ulsan,Ulsan
2712858,2708057,6528325,3,20180613,1.0,NaN,mobile,Seoul,Seoul

In [7]:
#확인
session.iloc[38,]
#이런 사람들은 보면 실제로도 TOT_PAG_VIEW_CT가 1이거나 빈값.

CLNT_ID                      5878756
SESS_ID                      7465325
SESS_SEQ                           5
SESS_DT                     20180529
TOT_PAG_VIEW_CT                    1
TOT_SESS_HR_V                    NaN
DVC_CTG_NM                    mobile
ZON_NM             Chungcheongnam-do
CITY_NM                   Cheonan-si
Name: 38, dtype: object

In [239]:
#추후에 이 이용자들의 행동 양태를 보기 위해 머물지도 않고 바로 나가는 CLIENT들을 따로 저장 (With Session ID)
Zero_Sess_HR_CLNT_ID = session.loc[session['TOT_SESS_HR_V'].isna(),:]['CLNT_ID']
Zero_Sess_HR_SESS_ID = session.loc[session['TOT_SESS_HR_V'].isna(),:]['SESS_ID']
#이 CLIENT들을 제거할 것인가를 결정한 후에 int64형으로 데이터를 바꾸어줄 것
#예를 들어, 빈 칸에 0을 넣을 것인가, 아니면 이 CLIENT들에 해당하는 observation을 제거할 것인가를 결정

In [8]:
session['Timestamp']=0

In [9]:
session['SESS_DT'] = session['SESS_DT'].astype('str')
session['SESS_DT'] = list(map(lambda x:datetime.strptime(x,'%Y%m%d'), session['SESS_DT']))
session['Timestamp'] = list(map(lambda x:datetime.timestamp(x), session['SESS_DT']))
#나중에 Timestamp는 지워줄 것. 
#다만 시간 자료형이 datetime, datetime64, Timestamp가 있어서 부득이하게 한 가지로 맞추어주어야만 했음.

In [10]:
session

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,Timestamp
0,5873599,8641867,9,2018-05-09,82.0,"1,890",mobile,Daejeon,Daejeon,1.525792e+09
1,5873599,6616320,21,2018-06-11,105.0,"1,604",mobile,Busan,Busan,1.528643e+09
2,5873599,5886172,40,2018-06-24,41.0,632,mobile,Daejeon,Daejeon,1.529766e+09
3,5873884,1050889,15,2018-09-13,160.0,"1,035",mobile,Gyeonggi-do,Anyang,1.536764e+09
4,5874461,10298270,5,2018-04-12,13.0,298,mobile,Seoul,Seoul,1.523459e+09
5,5874701,608577,65,2018-09-20,41.0,444,mobile,Seoul,Seoul,1.537369e+09
6,5874829,1666766,87,2018-09-03,36.0,340,mobile,Seoul,Seoul,1.535900e+09
7,5874829,1670494,86,2018-09-03,103.0,976,mobile,Seoul,Seoul,1.535900e+09
8,5874829,1694242,85,2018-09-02,154.0,"3,099",mobile,Seoul,Seoul,1.535814e+09
9,5874829,1559438,92,2018-09-04,24.0,317,mobile,Seoul,Seoul,1.535987e+09
10,5874900,10229983,7,2018-04-13,207.0,"4,143",mobile,Seoul,Seoul,1.523545e+09
11,5874907,10855,2,2018-09-30,4.0,263,desktop,Gyeongsangbuk-do,Gumi-si,1.538233e+09
12,5876333,348698,16,2018-09-25,159.0,786,mobile,Seoul,Seoul,1.537801e+09
13,5876333,456326,15,2018-09-23,160.0,"1,038",mobile,Jeollabuk-do,Buan-gun,1.537628e+09
14,5876333,584142,13,2018-09-20,33.0,312,mobile,Seoul,Seoul,1.537369e+09
15,5876382,2141725,17,2018-08-25,72.0,"1,104",mobile,Seoul,Seoul,1.535123e+09
16,5876382,4493736,5,2018-07-16,42.0,666,mobile,Seoul,Seoul,1.531667e+09
17,5876601,6940393,47,2018-06-06,38.0,288,mobile,Seoul,Seoul,1.528211e+09
18,5876630,1511171,156,2018-09-05,104.0,689,mobile,Seoul,Seoul,1.536073e+09
19,5876630,223471,165,2018-09-27,77.0,861,mobile,Seoul,Seoul,1.537974e+09
20,5876800,8513782,366,2018-05-11,53.0,"1,022",mobile,Chungcheongbuk-do,Cheongju-si,1.525964e+09
21,5876800,7153099,429,2018-06-03,174.0,"2,019",mobile,Seoul,Seoul,1.527952e+09
22,5876800,7904215,397,2018-05-21,188.0,860,mobile,Chungcheongbuk-do,Cheongju-si,1.526828e+09
23,5876800,3836347,491,2018-07-27,122.0,459,mobile,Seoul,Seoul,1.532617e+09
24,5876800,3627244,500,2018-07-31,95.0,673,mobile,Seoul,Seoul,1.532963e+09
25,5876800,6785647,437,2018-06-09,61.0,159,mobile,Chungcheongbuk-do,Cheongju-si,1.528470e+09
26,5876800,8603946,362,2018-05-10,128.0,949,mobile,Chungcheongbuk-do,Cheongju-si,1.525878e+09
27,5876800,3197247,517,2018-08-07,157.0,"1,216",mobile,Seoul,Seoul,1.533568e+09
28,5876800,2310513,533,2018-08-22,108.0,888,mobile,Seoul,Seoul,1.534864e+09
29,5876912,447981,36,2018-09-23,23.0,756,mobile,Seoul,Seoul,1.537628e+09
...,...,...,...,...,...,...,...,...,...,...
2712877,3555832,9296481,298,2018-04-28,338.0,"3,803",mobile,Seoul,Seoul,1.524841e+09
2712878,3552243,857890,70,2018-09-16,55.0,541,mobile,Incheon,Incheon,1.537024e+09
2712879,3553256,8128228,13,2018-05-18,39.0,341,mobile,Seoul,Seoul,1.526569e+09
2712880,3559213,8566684,167,2018-05-10,107.0,"1,014",mobile,Incheon,Incheon,1.525878e+09
2712881,3557770,5692621,377,2018-06-27,60.0,"2,236",mobile,Gangwon-do,Wonju-si,1.530025e+09
2712882,3557770,6833734,364,2018-06-08,104.0,"1,960",mobile,Gangwon-do,Wonju-si,1.528384e+09
2712883,3558515,8027926,199,2018-05-19,18.0,488,mobile,Busan,Busan,1.526656e+09
2712884,3561571,8410485,363,2018-05-13,123.0,"3,436",mobile,Gyeongsangnam-do,Gimhae-si,1.526137e+09
2712885,3569154,8031581,103,2018-05-19,152.0,"1,291",mobile,Jeollabuk-do,Jeonju-si,1.526656e+09
2712886,3566040,7612581,103,2018-05-26,56.0,705,mobile,Gyeongsangnam-do,Gimhae-si,1.527260e+09
2712887,3566629,6375372,95,2018-06-15,48.0,273,mobile,Seoul,Seoul,1.528988e+09
2712888,3568487,7191536,346,2018-06-02,41.0,441,mobile,Busan,Busan,1.527865e+09
2712889,3570334,5602994,2,2018-06-28,112.0,"2,611",mobile,Gyeongsangbuk-do,Andong,1.530112e+09
2712890,3642165,2189979,3,2018-08-24,29.0,"1,004",desktop,Gyeonggi-do,Ansan-si,1.535036e+09
2712891,3642354,4493999,83,2018-07-16,66.0,"1,719",mobile,Gwangju,Gwangju,1.531667e+09
2712892,3643587,10083218,12,2018-04-15,130.0,"6,203",desktop,Ulsan,Ulsan,1.523718e+09
2712893,3646640,6166681,16,2018-06-19,106.0,"2,177",mobile,Busan,Busan,1.529334e+09
2712894,3570720,4098757,500,2018-07-23,265.0,"2,246",mobile,Daegu,Daegu,1.532272e+09
2712895,3570720,3848780,515,2018-07-27,56.0,"1,039",mobile,Busan,Busan,1.532617e+09
2712896,3570720,5868666,454,2018-06-24,84.0,"1,589",mobile,Daegu,Daegu,1.529766e+09
2712897,3497799,8205641,1,2018-05-16,85.0,"1,828",desktop,Daejeon,Daejeon,1.526396e+09
2712898,3492307,2983998,25,2018-08-11,29.0,419,mobile,Gwangju,Gwangju,1.533913e+09
2712899,3499525,259993,2,2018-09-26,50.0,"2,477",desktop,Chungcheongbuk-do,Jecheon-si,1.537888e+09
2712900,3490918,1573185,16,2018-09-04,50.0,"1,546",mobile,Busan,Busan,1.535987e+09
2712901,3494680,9458833,488,2018-04-25,29.0,237,mobile,Gyeonggi-do,Gimpo-si,1.524582e+09
2712902,3500464,8713975,308,2018-05-08,71.0,423,mobile,Seoul,Seoul,1.525705e+09
2712903,3501155,4636571,86,2018-07-14,44.0,"2,090",desktop,Seoul,Seoul,1.531494e+09
2712904,3501397,582632,128,2018-09-20,164.0,"2,435",mobile,Seoul,Seoul,1.537369e+09
2712905,3573271,2328407,9,2018-08-22,5.0,986,desktop,Busan,Busan,1.534864e+09
2712906,3573758,8702345,17,2018-05-08,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si,1.525705e+09

In [141]:
session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2712907 entries, 0 to 2712906
Data columns (total 9 columns):
CLNT_ID            int64
SESS_ID            int64
SESS_SEQ           int64
SESS_DT            datetime64[ns]
TOT_PAG_VIEW_CT    float64
TOT_SESS_HR_V      object
DVC_CTG_NM         object
ZON_NM             object
CITY_NM            object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 186.3+ MB

In [18]:
min(session.SESS_DT)

Timestamp('2018-04-01 00:00:00')

In [19]:
max(session.SESS_DT)

Timestamp('2018-09-30 00:00:00')

In [11]:
Sat = pd.date_range(min(session.SESS_DT), max(session.SESS_DT), freq='W-SAT') #Saturday
Sun = pd.date_range(min(session.SESS_DT), max(session.SESS_DT), freq='W-SUN') #Sunday

In [12]:
Sat

DatetimeIndex(['2018-04-07', '2018-04-14', '2018-04-21', '2018-04-28',
               '2018-05-05', '2018-05-12', '2018-05-19', '2018-05-26',
               '2018-06-02', '2018-06-09', '2018-06-16', '2018-06-23',
               '2018-06-30', '2018-07-07', '2018-07-14', '2018-07-21',
               '2018-07-28', '2018-08-04', '2018-08-11', '2018-08-18',
               '2018-08-25', '2018-09-01', '2018-09-08', '2018-09-15',
               '2018-09-22', '2018-09-29'],
              dtype='datetime64[ns]', freq='W-SAT')

In [13]:
Sat_Timestamp=list(map(lambda x:datetime.timestamp(x), Sat))
Sun_Timestamp=list(map(lambda x:datetime.timestamp(x), Sun))

In [14]:
Sat_Timestamp

[1523026800.0,
 1523631600.0,
 1524236400.0,
 1524841200.0,
 1525446000.0,
 1526050800.0,
 1526655600.0,
 1527260400.0,
 1527865200.0,
 1528470000.0,
 1529074800.0,
 1529679600.0,
 1530284400.0,
 1530889200.0,
 1531494000.0,
 1532098800.0,
 1532703600.0,
 1533308400.0,
 1533913200.0,
 1534518000.0,
 1535122800.0,
 1535727600.0,
 1536332400.0,
 1536937200.0,
 1537542000.0,
 1538146800.0]

In [15]:
Holiday = np.array(['20180505', '20180522', '20180606', '20180815', '20180923', '20180924', '20180925'])
Holiday = list(map(lambda x:datetime.strptime(x,'%Y%m%d'), Holiday))

In [16]:
Holiday_Timestamp=list(map(lambda x:datetime.timestamp(x), Holiday))
Holiday_Timestamp

[1525446000.0,
 1526914800.0,
 1528210800.0,
 1534258800.0,
 1537628400.0,
 1537714800.0,
 1537801200.0]

In [17]:
session['SESS_DT']

0         2018-05-09
1         2018-06-11
2         2018-06-24
3         2018-09-13
4         2018-04-12
5         2018-09-20
6         2018-09-03
7         2018-09-03
8         2018-09-02
9         2018-09-04
10        2018-04-13
11        2018-09-30
12        2018-09-25
13        2018-09-23
14        2018-09-20
15        2018-08-25
16        2018-07-16
17        2018-06-06
18        2018-09-05
19        2018-09-27
20        2018-05-11
21        2018-06-03
22        2018-05-21
23        2018-07-27
24        2018-07-31
25        2018-06-09
26        2018-05-10
27        2018-08-07
28        2018-08-22
29        2018-09-23
             ...
2712877   2018-04-28
2712878   2018-09-16
2712879   2018-05-18
2712880   2018-05-10
2712881   2018-06-27
2712882   2018-06-08
2712883   2018-05-19
2712884   2018-05-13
2712885   2018-05-19
2712886   2018-05-26
2712887   2018-06-15
2712888   2018-06-02
2712889   2018-06-28
2712890   2018-08-24
2712891   2018-07-16
2712892   2018-04-15
2712893   2018-06-19
2712894   2018-07-23
2712895   2018-07-27
2712896   2018-06-24
2712897   2018-05-16
2712898   2018-08-11
2712899   2018-09-26
2712900   2018-09-04
2712901   2018-04-25
2712902   2018-05-08
2712903   2018-07-14
2712904   2018-09-20
2712905   2018-08-22
2712906   2018-05-08
Name: SESS_DT, Length: 2712907, dtype: datetime64[ns]

In [18]:
session['Rest']=0
session['Timestamp'].head(4)

0    1.525792e+09
1    1.528643e+09
2    1.529766e+09
3    1.536764e+09
Name: Timestamp, dtype: float64

In [19]:
All_Timestamp = Sat_Timestamp + Sun_Timestamp + Holiday_Timestamp
All_Timestamp

[1523026800.0,
 1523631600.0,
 1524236400.0,
 1524841200.0,
 1525446000.0,
 1526050800.0,
 1526655600.0,
 1527260400.0,
 1527865200.0,
 1528470000.0,
 1529074800.0,
 1529679600.0,
 1530284400.0,
 1530889200.0,
 1531494000.0,
 1532098800.0,
 1532703600.0,
 1533308400.0,
 1533913200.0,
 1534518000.0,
 1535122800.0,
 1535727600.0,
 1536332400.0,
 1536937200.0,
 1537542000.0,
 1538146800.0,
 1522508400.0,
 1523113200.0,
 1523718000.0,
 1524322800.0,
 1524927600.0,
 1525532400.0,
 1526137200.0,
 1526742000.0,
 1527346800.0,
 1527951600.0,
 1528556400.0,
 1529161200.0,
 1529766000.0,
 1530370800.0,
 1530975600.0,
 1531580400.0,
 1532185200.0,
 1532790000.0,
 1533394800.0,
 1533999600.0,
 1534604400.0,
 1535209200.0,
 1535814000.0,
 1536418800.0,
 1537023600.0,
 1537628400.0,
 1538233200.0,
 1525446000.0,
 1526914800.0,
 1528210800.0,
 1534258800.0,
 1537628400.0,
 1537714800.0,
 1537801200.0]

In [28]:
session.ix[session['Timestamp'].isin(All_Timestamp),'Rest']=1

C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [33]:
session

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,Timestamp,Rest
0,5873599,8641867,9,2018-05-09,82.0,"1,890",mobile,Daejeon,Daejeon,1.525792e+09,0
1,5873599,6616320,21,2018-06-11,105.0,"1,604",mobile,Busan,Busan,1.528643e+09,0
2,5873599,5886172,40,2018-06-24,41.0,632,mobile,Daejeon,Daejeon,1.529766e+09,1
3,5873884,1050889,15,2018-09-13,160.0,"1,035",mobile,Gyeonggi-do,Anyang,1.536764e+09,0
4,5874461,10298270,5,2018-04-12,13.0,298,mobile,Seoul,Seoul,1.523459e+09,0
5,5874701,608577,65,2018-09-20,41.0,444,mobile,Seoul,Seoul,1.537369e+09,0
6,5874829,1666766,87,2018-09-03,36.0,340,mobile,Seoul,Seoul,1.535900e+09,0
7,5874829,1670494,86,2018-09-03,103.0,976,mobile,Seoul,Seoul,1.535900e+09,0
8,5874829,1694242,85,2018-09-02,154.0,"3,099",mobile,Seoul,Seoul,1.535814e+09,1
9,5874829,1559438,92,2018-09-04,24.0,317,mobile,Seoul,Seoul,1.535987e+09,0
10,5874900,10229983,7,2018-04-13,207.0,"4,143",mobile,Seoul,Seoul,1.523545e+09,0
11,5874907,10855,2,2018-09-30,4.0,263,desktop,Gyeongsangbuk-do,Gumi-si,1.538233e+09,1
12,5876333,348698,16,2018-09-25,159.0,786,mobile,Seoul,Seoul,1.537801e+09,1
13,5876333,456326,15,2018-09-23,160.0,"1,038",mobile,Jeollabuk-do,Buan-gun,1.537628e+09,1
14,5876333,584142,13,2018-09-20,33.0,312,mobile,Seoul,Seoul,1.537369e+09,0
15,5876382,2141725,17,2018-08-25,72.0,"1,104",mobile,Seoul,Seoul,1.535123e+09,1
16,5876382,4493736,5,2018-07-16,42.0,666,mobile,Seoul,Seoul,1.531667e+09,0
17,5876601,6940393,47,2018-06-06,38.0,288,mobile,Seoul,Seoul,1.528211e+09,1
18,5876630,1511171,156,2018-09-05,104.0,689,mobile,Seoul,Seoul,1.536073e+09,0
19,5876630,223471,165,2018-09-27,77.0,861,mobile,Seoul,Seoul,1.537974e+09,0
20,5876800,8513782,366,2018-05-11,53.0,"1,022",mobile,Chungcheongbuk-do,Cheongju-si,1.525964e+09,0
21,5876800,7153099,429,2018-06-03,174.0,"2,019",mobile,Seoul,Seoul,1.527952e+09,1
22,5876800,7904215,397,2018-05-21,188.0,860,mobile,Chungcheongbuk-do,Cheongju-si,1.526828e+09,0
23,5876800,3836347,491,2018-07-27,122.0,459,mobile,Seoul,Seoul,1.532617e+09,0
24,5876800,3627244,500,2018-07-31,95.0,673,mobile,Seoul,Seoul,1.532963e+09,0
25,5876800,6785647,437,2018-06-09,61.0,159,mobile,Chungcheongbuk-do,Cheongju-si,1.528470e+09,1
26,5876800,8603946,362,2018-05-10,128.0,949,mobile,Chungcheongbuk-do,Cheongju-si,1.525878e+09,0
27,5876800,3197247,517,2018-08-07,157.0,"1,216",mobile,Seoul,Seoul,1.533568e+09,0
28,5876800,2310513,533,2018-08-22,108.0,888,mobile,Seoul,Seoul,1.534864e+09,0
29,5876912,447981,36,2018-09-23,23.0,756,mobile,Seoul,Seoul,1.537628e+09,1
...,...,...,...,...,...,...,...,...,...,...,...
2712877,3555832,9296481,298,2018-04-28,338.0,"3,803",mobile,Seoul,Seoul,1.524841e+09,1
2712878,3552243,857890,70,2018-09-16,55.0,541,mobile,Incheon,Incheon,1.537024e+09,1
2712879,3553256,8128228,13,2018-05-18,39.0,341,mobile,Seoul,Seoul,1.526569e+09,0
2712880,3559213,8566684,167,2018-05-10,107.0,"1,014",mobile,Incheon,Incheon,1.525878e+09,0
2712881,3557770,5692621,377,2018-06-27,60.0,"2,236",mobile,Gangwon-do,Wonju-si,1.530025e+09,0
2712882,3557770,6833734,364,2018-06-08,104.0,"1,960",mobile,Gangwon-do,Wonju-si,1.528384e+09,0
2712883,3558515,8027926,199,2018-05-19,18.0,488,mobile,Busan,Busan,1.526656e+09,1
2712884,3561571,8410485,363,2018-05-13,123.0,"3,436",mobile,Gyeongsangnam-do,Gimhae-si,1.526137e+09,1
2712885,3569154,8031581,103,2018-05-19,152.0,"1,291",mobile,Jeollabuk-do,Jeonju-si,1.526656e+09,1
2712886,3566040,7612581,103,2018-05-26,56.0,705,mobile,Gyeongsangnam-do,Gimhae-si,1.527260e+09,1
2712887,3566629,6375372,95,2018-06-15,48.0,273,mobile,Seoul,Seoul,1.528988e+09,0
2712888,3568487,7191536,346,2018-06-02,41.0,441,mobile,Busan,Busan,1.527865e+09,1
2712889,3570334,5602994,2,2018-06-28,112.0,"2,611",mobile,Gyeongsangbuk-do,Andong,1.530112e+09,0
2712890,3642165,2189979,3,2018-08-24,29.0,"1,004",desktop,Gyeonggi-do,Ansan-si,1.535036e+09,0
2712891,3642354,4493999,83,2018-07-16,66.0,"1,719",mobile,Gwangju,Gwangju,1.531667e+09,0
2712892,3643587,10083218,12,2018-04-15,130.0,"6,203",desktop,Ulsan,Ulsan,1.523718e+09,1
2712893,3646640,6166681,16,2018-06-19,106.0,"2,177",mobile,Busan,Busan,1.529334e+09,0
2712894,3570720,4098757,500,2018-07-23,265.0,"2,246",mobile,Daegu,Daegu,1.532272e+09,0
2712895,3570720,3848780,515,2018-07-27,56.0,"1,039",mobile,Busan,Busan,1.532617e+09,0
2712896,3570720,5868666,454,2018-06-24,84.0,"1,589",mobile,Daegu,Daegu,1.529766e+09,1
2712897,3497799,8205641,1,2018-05-16,85.0,"1,828",desktop,Daejeon,Daejeon,1.526396e+09,0
2712898,3492307,2983998,25,2018-08-11,29.0,419,mobile,Gwangju,Gwangju,1.533913e+09,1
2712899,3499525,259993,2,2018-09-26,50.0,"2,477",desktop,Chungcheongbuk-do,Jecheon-si,1.537888e+09,0
2712900,3490918,1573185,16,2018-09-04,50.0,"1,546",mobile,Busan,Busan,1.535987e+09,0
2712901,3494680,9458833,488,2018-04-25,29.0,237,mobile,Gyeonggi-do,Gimpo-si,1.524582e+09,0
2712902,3500464,8713975,308,2018-05-08,71.0,423,mobile,Seoul,Seoul,1.525705e+09,0
2712903,3501155,4636571,86,2018-07-14,44.0,"2,090",desktop,Seoul,Seoul,1.531494e+09,1
2712904,3501397,582632,128,2018-09-20,164.0,"2,435",mobile,Seoul,Seoul,1.537369e+09,0
2712905,3573271,2328407,9,2018-08-22,5.0,986,desktop,Busan,Busan,1.534864e+09,0
2712906,3573758,8702345,17,2018-05-08,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si,1.525705e+09,0

In [36]:
session.drop('Timestamp', axis=1)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,Rest
0,5873599,8641867,9,2018-05-09,82.0,"1,890",mobile,Daejeon,Daejeon,0
1,5873599,6616320,21,2018-06-11,105.0,"1,604",mobile,Busan,Busan,0
2,5873599,5886172,40,2018-06-24,41.0,632,mobile,Daejeon,Daejeon,1
3,5873884,1050889,15,2018-09-13,160.0,"1,035",mobile,Gyeonggi-do,Anyang,0
4,5874461,10298270,5,2018-04-12,13.0,298,mobile,Seoul,Seoul,0
5,5874701,608577,65,2018-09-20,41.0,444,mobile,Seoul,Seoul,0
6,5874829,1666766,87,2018-09-03,36.0,340,mobile,Seoul,Seoul,0
7,5874829,1670494,86,2018-09-03,103.0,976,mobile,Seoul,Seoul,0
8,5874829,1694242,85,2018-09-02,154.0,"3,099",mobile,Seoul,Seoul,1
9,5874829,1559438,92,2018-09-04,24.0,317,mobile,Seoul,Seoul,0
10,5874900,10229983,7,2018-04-13,207.0,"4,143",mobile,Seoul,Seoul,0
11,5874907,10855,2,2018-09-30,4.0,263,desktop,Gyeongsangbuk-do,Gumi-si,1
12,5876333,348698,16,2018-09-25,159.0,786,mobile,Seoul,Seoul,1
13,5876333,456326,15,2018-09-23,160.0,"1,038",mobile,Jeollabuk-do,Buan-gun,1
14,5876333,584142,13,2018-09-20,33.0,312,mobile,Seoul,Seoul,0
15,5876382,2141725,17,2018-08-25,72.0,"1,104",mobile,Seoul,Seoul,1
16,5876382,4493736,5,2018-07-16,42.0,666,mobile,Seoul,Seoul,0
17,5876601,6940393,47,2018-06-06,38.0,288,mobile,Seoul,Seoul,1
18,5876630,1511171,156,2018-09-05,104.0,689,mobile,Seoul,Seoul,0
19,5876630,223471,165,2018-09-27,77.0,861,mobile,Seoul,Seoul,0
20,5876800,8513782,366,2018-05-11,53.0,"1,022",mobile,Chungcheongbuk-do,Cheongju-si,0
21,5876800,7153099,429,2018-06-03,174.0,"2,019",mobile,Seoul,Seoul,1
22,5876800,7904215,397,2018-05-21,188.0,860,mobile,Chungcheongbuk-do,Cheongju-si,0
23,5876800,3836347,491,2018-07-27,122.0,459,mobile,Seoul,Seoul,0
24,5876800,3627244,500,2018-07-31,95.0,673,mobile,Seoul,Seoul,0
25,5876800,6785647,437,2018-06-09,61.0,159,mobile,Chungcheongbuk-do,Cheongju-si,1
26,5876800,8603946,362,2018-05-10,128.0,949,mobile,Chungcheongbuk-do,Cheongju-si,0
27,5876800,3197247,517,2018-08-07,157.0,"1,216",mobile,Seoul,Seoul,0
28,5876800,2310513,533,2018-08-22,108.0,888,mobile,Seoul,Seoul,0
29,5876912,447981,36,2018-09-23,23.0,756,mobile,Seoul,Seoul,1
...,...,...,...,...,...,...,...,...,...,...
2712877,3555832,9296481,298,2018-04-28,338.0,"3,803",mobile,Seoul,Seoul,1
2712878,3552243,857890,70,2018-09-16,55.0,541,mobile,Incheon,Incheon,1
2712879,3553256,8128228,13,2018-05-18,39.0,341,mobile,Seoul,Seoul,0
2712880,3559213,8566684,167,2018-05-10,107.0,"1,014",mobile,Incheon,Incheon,0
2712881,3557770,5692621,377,2018-06-27,60.0,"2,236",mobile,Gangwon-do,Wonju-si,0
2712882,3557770,6833734,364,2018-06-08,104.0,"1,960",mobile,Gangwon-do,Wonju-si,0
2712883,3558515,8027926,199,2018-05-19,18.0,488,mobile,Busan,Busan,1
2712884,3561571,8410485,363,2018-05-13,123.0,"3,436",mobile,Gyeongsangnam-do,Gimhae-si,1
2712885,3569154,8031581,103,2018-05-19,152.0,"1,291",mobile,Jeollabuk-do,Jeonju-si,1
2712886,3566040,7612581,103,2018-05-26,56.0,705,mobile,Gyeongsangnam-do,Gimhae-si,1
2712887,3566629,6375372,95,2018-06-15,48.0,273,mobile,Seoul,Seoul,0
2712888,3568487,7191536,346,2018-06-02,41.0,441,mobile,Busan,Busan,1
2712889,3570334,5602994,2,2018-06-28,112.0,"2,611",mobile,Gyeongsangbuk-do,Andong,0
2712890,3642165,2189979,3,2018-08-24,29.0,"1,004",desktop,Gyeonggi-do,Ansan-si,0
2712891,3642354,4493999,83,2018-07-16,66.0,"1,719",mobile,Gwangju,Gwangju,0
2712892,3643587,10083218,12,2018-04-15,130.0,"6,203",desktop,Ulsan,Ulsan,1
2712893,3646640,6166681,16,2018-06-19,106.0,"2,177",mobile,Busan,Busan,0
2712894,3570720,4098757,500,2018-07-23,265.0,"2,246",mobile,Daegu,Daegu,0
2712895,3570720,3848780,515,2018-07-27,56.0,"1,039",mobile,Busan,Busan,0
2712896,3570720,5868666,454,2018-06-24,84.0,"1,589",mobile,Daegu,Daegu,1
2712897,3497799,8205641,1,2018-05-16,85.0,"1,828",desktop,Daejeon,Daejeon,0
2712898,3492307,2983998,25,2018-08-11,29.0,419,mobile,Gwangju,Gwangju,1
2712899,3499525,259993,2,2018-09-26,50.0,"2,477",desktop,Chungcheongbuk-do,Jecheon-si,0
2712900,3490918,1573185,16,2018-09-04,50.0,"1,546",mobile,Busan,Busan,0
2712901,3494680,9458833,488,2018-04-25,29.0,237,mobile,Gyeonggi-do,Gimpo-si,0
2712902,3500464,8713975,308,2018-05-08,71.0,423,mobile,Seoul,Seoul,0
2712903,3501155,4636571,86,2018-07-14,44.0,"2,090",desktop,Seoul,Seoul,1
2712904,3501397,582632,128,2018-09-20,164.0,"2,435",mobile,Seoul,Seoul,0
2712905,3573271,2328407,9,2018-08-22,5.0,986,desktop,Busan,Busan,0
2712906,3573758,8702345,17,2018-05-08,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si,0

### search1 전처리

In [94]:
search1.head(4) #info를 보면 딱히 전처리 필요 없어 보임.

   CLNT_ID  SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  7112876   빌리프 아이크림           6
1  5607714  4090791  프리메라 마스크팩           3
2  5607714  4090791      여성청결제           1
3  5612428  1876482       명품가방           1

### search2 전처리

In [95]:
search2.head(4)

    SESS_DT     KWD_NM SEARCH_CNT
0  20180407      닥스원피스          8
1  20180407  닥터지 브라이트닝          1
2  20180407     달팡 인트랄          2
3  20180407        대상트          1

In [81]:
search2['SEARCH_CNT'] = search2['SEARCH_CNT'].astype('str')
search2['SEARCH_CNT'] = list(map(lambda x:re.sub("\,", "",x), search2['SEARCH_CNT']))
search2['SEARCH_CNT'] = search2['SEARCH_CNT'].astype('int32')

In [82]:
search2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051172 entries, 0 to 8051171
Data columns (total 3 columns):
SESS_DT       int64
KWD_NM        object
SEARCH_CNT    int32
dtypes: int32(1), int64(1), object(1)
memory usage: 153.6+ MB

In [83]:
custom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671679 entries, 0 to 671678
Data columns (total 3 columns):
CLNT_ID        671679 non-null int64
CLNT_GENDER    671679 non-null object
CLNT_AGE       671679 non-null int64
dtypes: int64(2), object(1)
memory usage: 15.4+ MB

In [96]:
custom.head(4)

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30
1  4830874           F        40
2  4830975           F        30
3  4831275           F        30

In [97]:
master.head(4)

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠
1,62282,여자 플라워덧신 2족선물세트 17403-2set,속옷/양말/홈웨어,여성양말류,여성일반양말
2,61729,88A2933253배트맨스웨트티 - 블랙 / 130,유아동의류,유아의류상의,영유아티셔츠/탑
3,61537,"닥터마틴 아드리안 블랙, 체리레드 - 02_체리레드 / 250mm(6)",패션잡화,남성화,남성부츠